@charset "UTF-8";
@font-face { font-family: 'Helvetica'; src: url("../css/fonts/webfont/Helvetica.eot?#iefix") format("embedded-opentype"), url("../css/fonts/webfont/Helvetica.otf") format("opentype"), url("../css/fonts/webfont/Helvetica.woff") format("woff"), url("../css/fonts/webfont/Helvetica.ttf") format("truetype"), url("../css/fonts/webfont/Helvetica.svg#Helvetica") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Helvetica-Light'; src: url("../css/fonts/webfont/Helvetica-Light.eot?#iefix") format("embedded-opentype"), url("../css/fonts/webfont/Helvetica-Light.otf") format("opentype"), url("../css/fonts/webfont/Helvetica-Light.woff") format("woff"), url("../css/fonts/webfont/Helvetica-Light.ttf") format("truetype"), url("../css/fonts/webfont/Helvetica-Light.svg#Helvetica-Light") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Graphik Web'; src: url("../css/fonts/webfont/Graphik-Regular-Web.eot?#iefix") format("embedded-opentype"), url("../css/fonts/webfont/Graphik-Regular-Web.ttf") format("ttf"), url("../css/fonts/webfont/Graphik-Regular-Web.woff") format("woff"), url("../css/fonts/webfont/Graphik-Regular-Web.ttf") format("truetype"), url("../css/fonts/webfont/Graphik-Regular-Web.svg#Graphik-Regular-Web") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Graphik Web'; src: url("../css/fonts/webfont/graphik-light-webfont.eot?#iefix") format("embedded-opentype"), url("../css/fonts/webfont/graphik-light-webfont.ttf") format("ttf"), url("../css/fonts/webfont/graphik-light-webfont.woff") format("woff"), url("../css/fonts/webfont/graphik-light-webfont.ttf") format("truetype"), url("../css/fonts/webfont/graphik-light-webfont.svg#graphik-light-webfont") format("svg"); font-weight: 300; font-style: normal; }
img { max-width: 100%; }

.light-font { font-weight: 300; }

.bg-air { width: 68px; height: 74px; background: url("../css/image/css_sprites.png") -219px -10px; }

.bg-angle_right { width: 36px; height: 36px; background: url("../css/image/css_sprites.png") -107px -213px; }

.bg-car { width: 78px; height: 74px; background: url("../css/image/css_sprites.png") -10px -213px; }

.bg-facebook { width: 82px; height: 82px; background: url("../css/image/css_sprites.png") -10px -111px; }

.bg-home { width: 68px; height: 74px; background: url("../css/image/css_sprites.png") -115px -96px; }

.bg-message { width: 85px; height: 82px; background: url("../css/image/css_sprites.png") -10px -10px; }

.bg-monitor { width: 85px; height: 82px; background: url("../css/image/css_sprites.png") -115px -10px; }

.bg-Teeth { width: 68px; height: 74px; background: url("../css/image/css_sprites.png") -219px -99px; }

.border, .testimonial-area .custom-border-help, .about-us .inner-border, .service_area .inner-border, .recruitment-block .inner-border, .recruitment-area .inner-border, .recruitment-caption .inner-border, .recruitment-item .inner-border, .service .custom-border, .how-can-help .custom-border-help, .claims-process .custom-border-help, .brand .custom-border-brand, .contact-us .inner-border { width: 75px; height: 4px; background-color: #d93690; border: 1px solid transparent !important; }

.custom-btn, .video-btn, .recruitment-block .buton-class .learn-btn, .recruitment-area .buton-class .learn-btn, .recruitment-caption .buton-class .learn-btn, .recruitment-item .buton-class .learn-btn, .recruitment-block .buton-class .apply-btn, .recruitment-area .buton-class .apply-btn, .recruitment-caption .buton-class .apply-btn, .recruitment-item .buton-class .apply-btn, .inner-contact .card-body .sub-btn, .recruitment-area .inner-contact-recruitment .card-body .sub-btn, .recruitment-item .inner-contact-recruitment-item .card-body .sub-btn, .service_area .inner-service-contact .card-body .sub-btn, .recruitment-item .buton-class .job-btn, .contact-us .btn-submit { background: #00cb81; font-family: "Graphik Web", sans-serif; color: #ffffff; font-size: 22px; padding: 10px 20px 10px 20px; border: solid #00cb81 1px; text-decoration: none; display: inline-block; transition: all ease 500ms; }
.custom-btn:hover, .video-btn:hover, .recruitment-block .buton-class .learn-btn:hover, .recruitment-area .buton-class .learn-btn:hover, .recruitment-caption .buton-class .learn-btn:hover, .recruitment-item .buton-class .learn-btn:hover, .recruitment-block .buton-class .apply-btn:hover, .recruitment-area .buton-class .apply-btn:hover, .recruitment-caption .buton-class .apply-btn:hover, .recruitment-item .buton-class .apply-btn:hover, .inner-contact .card-body .sub-btn:hover, .recruitment-area .inner-contact-recruitment .card-body .sub-btn:hover, .recruitment-item .inner-contact-recruitment-item .card-body .sub-btn:hover, .service_area .inner-service-contact .card-body .sub-btn:hover, .recruitment-item .buton-class .job-btn:hover, .contact-us .btn-submit:hover { background-color: #24b151; }

.after, header.header:after, .testimonial-area .single-testimonial .testimonial:before, .recruitment-block ul li:after, .recruitment-area ul li:after, .recruitment-caption ul li:after, .recruitment-item ul li:after, .recruitment-block .content ul li:after, .recruitment-area .content ul li:after, .recruitment-caption .content ul li:after, .recruitment-item .content ul li:after, .inner-contact .service-contact-head:after, .recruitment-area .inner-contact-recruitment .service-contact-head:after, .recruitment-item .inner-contact-recruitment-item .service-contact-head:after, .service_area .inner-service-contact .service-contact-head:after, .inner-contact:after, .recruitment-area .inner-contact-recruitment:after, .recruitment-item .inner-contact-recruitment-item:after, .service_area .inner-service-contact:after, .recruitment-item .inner-contact-recruitment-item .card-body ul li:after, .recruitment-item .inner-contact-recruitment-item .card-body ul li:before, .service_area .inner-single-service .service-item ul li:before, .claims-process .single-model:after { position: absolute; content: " "; display: block; background: no-repeat center center transparent; background-size: cover; }

.padding-tb-100 { padding: 100px 0; }

.padding-tb-50 { padding: 50px 0; }

.padding-tb-15 { padding: 15px 0 !important; }

.padding-left-0 { padding-left: 0; }

.title-h2 { text-align: center; }
.title-h2 h2 { margin-bottom: 15px; }

.padding-btom { padding: 50px 0; }

.padding-top-20 { padding-top: 20px; }

.padding-bottom-20 { padding-bottom: 20px; }

.form-control { font-weight: 300; }

.video-btn { min-width: 233px; width: auto; height: auto; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); border-radius: 6px; background-color: #00cb81; padding: 17px 25px 17px 27px; text-align: left; cursor: pointer; }
.video-btn .fa { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: 30px; font-weight: bold; float: right; margin-top: -5px; margin-left: 20px; }
.video-btn .video-btn:hover { background-color: #24b151; }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; margin-left: auto; margin-right: auto; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
[dir="rtl"] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

/* Slider */
.slick-loading .slick-list { background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face { font-family: "slick"; src: url("./fonts/slick.eot"); src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); font-weight: normal; font-style: normal; }
/* Arrows */
.slick-prev, .slick-next { position: absolute; display: block; height: 20px; width: 20px; line-height: 0px; font-size: 0px; cursor: pointer; background: transparent; color: transparent; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); padding: 0; border: none; outline: none; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }
.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 20px; line-height: 1; color: white; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev { left: -25px; }
[dir="rtl"] .slick-prev { left: auto; right: -25px; }
.slick-prev:before { content: "←"; }
[dir="rtl"] .slick-prev:before { content: "→"; }

.slick-next { right: -25px; }
[dir="rtl"] .slick-next { left: -25px; right: auto; }
.slick-next:before { content: "→"; }
[dir="rtl"] .slick-next:before { content: "←"; }

/* Dots */
.slick-dotted.slick-slider { margin-bottom: 30px; }

.slick-dots { position: absolute; bottom: -25px; list-style: none; display: block; text-align: center; padding: 0; margin: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0 5px; padding: 0; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0px; font-size: 0px; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "•"; width: 20px; height: 20px; font-family: "slick"; font-size: 6px; line-height: 20px; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { color: black; opacity: 0.75; }

/* --------------------------------------------------------------------------
	>Base
-------------------------------------------------------------------------- */
html, body { height: 100%; }

html { overflow-y: scroll; }

body { min-width: 100px; background: #ffffff; font-family: "Graphik Web", sans-serif; font-size: 14px; line-height: 1.3; color: #000; }

a { cursor: pointer; color: #0067b0; text-decoration: none; }

a:hover { text-decoration: underline; }

img { border: 0; vertical-align: middle; }

ul, ol { list-style-position: inside; }

ul li { list-style: none; }

h1 { font-family: "Graphik Web", sans-serif; color: #ffffff; font-size: 36px; font-weight: 300; }

h2 { color: #000000; font-family: "Graphik Web", sans-serif; font-size: 36px; font-weight: 400; }

h3 { color: #ffffff; font-family: "Graphik Web", sans-serif; font-size: 24px; font-weight: 400; }

h4 { color: #ffffff; font-family: "Graphik Web", sans-serif; font-size: 18px; font-weight: 400; }

h5 { color: #052f65; font-family: "Graphik Web", sans-serif; font-size: 18px; font-weight: 400; }

.wrapper > div, .wrapper > section { padding: 100px 0; }
.wrapper > div.header, .wrapper > section.header { padding: 0 0 20px; }
.wrapper > div.loader, .wrapper > section.loader { padding: 0; }

.wrapper > footer { padding: 35px 0 50px; }

/* ========================================================================== > Loader ========================================================================== */
.loader { height: 2px; width: 100%; position: relative; overflow: hidden; background-color: #ffffff; }
.loader:before { display: block; position: absolute; content: ""; left: 0; width: 100%; height: 2px; background-color: #ca4990; animation-name: animate_width; }
.loader.loading:before { animation-duration: 20s; }
.loader.loaded:before { animation-duration: 2s; }

@keyframes animate_width { from { width: 0; }
  to { width: 100%; } }
/* ========================================================================== > Header ========================================================================== */
header.header { position: relative; display: block; z-index: 1; background: url(../css/image/banner_bg.png) no-repeat center bottom #ca4990; background-size: cover; margin-bottom: 120px; }
header.header:after { background: url("../css/image/banner_bottom_bg.jpg") no-repeat center bottom #ca4990; background-size: 100% 100%; left: 0; right: 0; bottom: -119px; height: 120px; width: 100%; }

.custom-nav { background: transparent !important; padding: 45px 0; }
.custom-nav .navbar-nav .active > .nav-link, .custom-nav .navbar-nav .nav-link:hover, .custom-nav .navbar-nav .nav-link:active, .custom-nav .navbar-nav .nav-link:focus { color: #ffffff; background: url("../css/image/boder.png") repeat-x center bottom transparent; }
.custom-nav .navbar-nav .nav-item { padding: 0 25px; }
.custom-nav .navbar-nav .nav-link { color: #ffffff; font-family: "Graphik Web", sans-serif; font-size: 18px; font-weight: 400; }

.custom-collapse { z-index: 1; margin-top: 30px; }

/* ========================================================================== > header bottom start ========================================================================== */
.caption, header.inner-header .inner-caption { text-align: center; padding: 50px 0; }
.caption h1, header.inner-header .inner-caption h1 { line-height: 40px; }
.caption h4, header.inner-header .inner-caption h4 { font-size: 22px; margin-top: 50px; padding-bottom: 60px; font-weight: 300; }
.caption h3, header.inner-header .inner-caption h3 { margin-top: 50px; padding-bottom: 10px; }
.caption .input-group, header.inner-header .inner-caption .input-group { width: 30%; margin: 0 auto; }
.caption .input-group input, header.inner-header .inner-caption .input-group input { font-family: "Graphik Web", sans-serif; border-radius: 5px; padding: 10px 0 10px 18px; font-size: 20px; }
.caption .input-group button, header.inner-header .inner-caption .input-group button { width: 50px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border: none; background: #00cb81; outline: none; cursor: pointer; }
.caption .input-group button i, header.inner-header .inner-caption .input-group button i { font-size: 36px; color: #ffffff; }
.caption .input-group button:hover, header.inner-header .inner-caption .input-group button:hover { background: #24b151; }

/* ========================================================================== > testimonial ========================================================================== */
.testimonial-area { background: #f3f3f3; overflow: hidden; }
.testimonial-area h2 { font-weight: 300; }
.testimonial-area .custom-border-help { background-color: #0b2e13; }
.testimonial-area i { display: inline-block; }
.testimonial-area .title-h2 { padding-top: 0; }
.testimonial-area .single-testimonial .testimonial { position: relative; padding: 15px 5px; box-sizing: border-box; background: #ffffff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11); margin-bottom: 25px; min-height: 215px; }
.testimonial-area .single-testimonial .testimonial ul { margin: 0; }
.testimonial-area .single-testimonial .testimonial ul li { list-style: none; float: left; margin-left: 5px; }
.testimonial-area .single-testimonial .testimonial ul li i { color: #ffb700; font-size: 22px; }
.testimonial-area .single-testimonial .testimonial .content { position: relative; display: block; width: 95%; padding: 15px 25px 20px; }
.testimonial-area .single-testimonial .testimonial:before { background: url("../css/image/google-bg.png") no-repeat; right: 20px; height: 34px; width: 34px; bottom: 20px; }
.testimonial-area .single-testimonial .testimonial:after { content: ""; position: absolute; width: 0; height: 0; margin-left: -0.5em; bottom: -2em; left: 12%; box-sizing: border-box; border: 1em solid rgba(0, 0, 0, 0.11); border-color: transparent transparent #ffffff #ffffff; transform-origin: 0 0; transform: rotate(-45deg); box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.11); }
.testimonial-area .single-testimonial img { padding: 0 25px; }
.testimonial-area .single-testimonial .info h3 { color: #062f65; font-size: 20px; font-weight: 400; }
.testimonial-area .single-testimonial .info p { color: #4a4a4a; font-weight: 300; }
.testimonial-area .slider { max-width: 100%; overflow: hidden; margin: 50px auto; }
.testimonial-area .slick-slide { margin: 0 8px; outline: none; }
.testimonial-area .slick-prev:before, .testimonial-area .slick-next:before { color: black; display: none; }
.testimonial-area .slick-slide { transition: all ease-in-out .3s; opacity: 1; }
.testimonial-area .slick-active { opacity: 1; }
.testimonial-area .slick-current { opacity: 1; }

/* ========================================================================== > Inner header    // inner page start ========================================================================== */
header.inner-header { position: relative; display: block; z-index: 1; background: url("../css/image/inner_header_bg.png") no-repeat center top transparent; background-size: 100% 100%; margin-bottom: 0; min-height: 450px; }
header.inner-header:after { background: none; }
header.inner-header .inner-caption { text-align: left; color: #ffffff; }
header.inner-header .inner-caption h2 { color: #ffffff; font-size: 36px; font-weight: 300; }
header.inner-header .inner-caption p { padding-top: 15px; max-width: 850px; font-size: 16px; font-weight: 300; line-height: 23px; }
header.inner-header .inner-caption-contact p { max-width: 590px; }

/* ========================================================================== > about us // inner page ========================================================================== */
.single-about h5, .about-us h5, .service_area h5, .service_area .inner-single-service h5 { font-family: "FS Albert Pro",sans-serif; font-weight: 700; color: #5b5b5b; }
.single-about p, .about-us p, .service_area p, .service_area .inner-single-service p { color: #9b9b9b; line-height: 20px; font-weight: 200; padding-top: 15px; }

.about-us .title-h2, .service_area .title-h2 { text-align: left; }
.about-us .title-h2 h2, .service_area .title-h2 h2 { color: #5b5b5b; font-size: 37px; }
.about-us .inner-border, .service_area .inner-border { height: 2px; background-color: #052f65; }
.about-us i, .service_area i { display: inline-block; }

/* ========================================================================== > recruitment  // inner page ========================================================================== */
.recruitment-block, .recruitment-area, .recruitment-caption, .recruitment-item { padding-bottom: 20px; }
.recruitment-block h2, .recruitment-area h2, .recruitment-caption h2, .recruitment-item h2 { color: #134266; font-size: 28px; font-weight: 400; }
.recruitment-block h4, .recruitment-area h4, .recruitment-caption h4, .recruitment-item h4 { padding-top: 25px; color: #4a4a4a; font-size: 17px; line-height: 20px; font-weight: 300; }
.recruitment-block h4 span, .recruitment-area h4 span, .recruitment-caption h4 span, .recruitment-item h4 span { font-weight: 700; }
.recruitment-block ul li, .recruitment-area ul li, .recruitment-caption ul li, .recruitment-item ul li { color: #4a4a4a; font-size: 17px; font-weight: 700; line-height: 20px; float: left; position: relative; padding: 0 10px; }
.recruitment-block ul li:after, .recruitment-area ul li:after, .recruitment-caption ul li:after, .recruitment-item ul li:after { height: 20px; border: 1px solid #4a4a4a; right: 0; top: 0; }
.recruitment-block ul li:first-child, .recruitment-area ul li:first-child, .recruitment-caption ul li:first-child, .recruitment-item ul li:first-child { padding-left: 0; }
.recruitment-block ul li:last-child:after, .recruitment-area ul li:last-child:after, .recruitment-caption ul li:last-child:after, .recruitment-item ul li:last-child:after { border: none; }
.recruitment-block .content, .recruitment-area .content, .recruitment-caption .content, .recruitment-item .content { padding-top: 15px; max-width: 629px; }
.recruitment-block .content p, .recruitment-area .content p, .recruitment-caption .content p, .recruitment-item .content p { color: #4a4a4a; font-size: 16px; font-weight: 300; line-height: 23px; }
.recruitment-block .content p span, .recruitment-area .content p span, .recruitment-caption .content p span, .recruitment-item .content p span { font-weight: 700 !important; }
.recruitment-block .content h3, .recruitment-area .content h3, .recruitment-caption .content h3, .recruitment-item .content h3 { padding-top: 25px; color: #4a4a4a; line-height: 20px; font-weight: 300; }
.recruitment-block .content ul, .recruitment-area .content ul, .recruitment-caption .content ul, .recruitment-item .content ul { margin-top: 25px; padding-left: 28px; }
.recruitment-block .content ul li, .recruitment-area .content ul li, .recruitment-caption .content ul li, .recruitment-item .content ul li { list-style: disc; color: #4a4a4a; font-size: 17px; font-weight: 300; position: relative; line-height: 23px; padding: 0 10px 25px 0; }
.recruitment-block .content ul li:after, .recruitment-area .content ul li:after, .recruitment-caption .content ul li:after, .recruitment-item .content ul li:after { display: none; }
.recruitment-block .content ul li:first-child, .recruitment-area .content ul li:first-child, .recruitment-caption .content ul li:first-child, .recruitment-item .content ul li:first-child { padding-left: 00px; }
.recruitment-block .content ul li:last-child:after, .recruitment-area .content ul li:last-child:after, .recruitment-caption .content ul li:last-child:after, .recruitment-item .content ul li:last-child:after { display: none; }
.recruitment-block .buton-class .learn-btn, .recruitment-area .buton-class .learn-btn, .recruitment-caption .buton-class .learn-btn, .recruitment-item .buton-class .learn-btn { color: #052f65; font-size: 18px; font-weight: 500; border-radius: 5px; border: 1px solid #052f65; background-color: #ffffff; }
.recruitment-block .buton-class .learn-btn:hover, .recruitment-area .buton-class .learn-btn:hover, .recruitment-caption .buton-class .learn-btn:hover, .recruitment-item .buton-class .learn-btn:hover { background: #EEEDED; border: solid #052f65 1px; }
.recruitment-block .buton-class .apply-btn, .recruitment-area .buton-class .apply-btn, .recruitment-caption .buton-class .apply-btn, .recruitment-item .buton-class .apply-btn { font-size: 18px; border-radius: 5px; margin-left: 10px; }
.recruitment-block .buton-class .apply-btn:hover, .recruitment-area .buton-class .apply-btn:hover, .recruitment-caption .buton-class .apply-btn:hover, .recruitment-item .buton-class .apply-btn:hover { background: #24b151; }
.recruitment-block .inner-border, .recruitment-area .inner-border, .recruitment-caption .inner-border, .recruitment-item .inner-border { margin-top: 40px; display: inline-block; width: 100%; height: 1px; background: #9b9b9b; opacity: 0.3; }

.inner-contact, .recruitment-area .inner-contact-recruitment, .recruitment-item .inner-contact-recruitment-item, .service_area .inner-service-contact { box-shadow: 0 0 10px rgba(0, 0, 0, 0.14); border-radius: 5px; position: relative; }
.inner-contact h3, .recruitment-area .inner-contact-recruitment h3, .recruitment-item .inner-contact-recruitment-item h3, .service_area .inner-service-contact h3 { font-size: 31px; font-weight: 300; }
.inner-contact .service-contact-head, .recruitment-area .inner-contact-recruitment .service-contact-head, .recruitment-item .inner-contact-recruitment-item .service-contact-head, .service_area .inner-service-contact .service-contact-head { position: relative; padding: 20px 30px 35px; background: #ca4990; }
.inner-contact .service-contact-head h3, .recruitment-area .inner-contact-recruitment .service-contact-head h3, .recruitment-item .inner-contact-recruitment-item .service-contact-head h3, .service_area .inner-service-contact .service-contact-head h3 { margin: 0; position: relative; z-index: 5; }
.inner-contact .service-contact-head:after, .recruitment-area .inner-contact-recruitment .service-contact-head:after, .recruitment-item .inner-contact-recruitment-item .service-contact-head:after, .service_area .inner-service-contact .service-contact-head:after { background: url("../css/image/inner_contact_bg.jpg") no-repeat left bottom transparent; background-size: 100% auto; width: 100%; height: 100px; z-index: 0; left: 0; bottom: -1px; }
.inner-contact .card-body, .recruitment-area .inner-contact-recruitment .card-body, .recruitment-item .inner-contact-recruitment-item .card-body, .service_area .inner-service-contact .card-body { margin: 30px 20px 60px; }
.inner-contact .card-body .sub-btn, .recruitment-area .inner-contact-recruitment .card-body .sub-btn, .recruitment-item .inner-contact-recruitment-item .card-body .sub-btn, .service_area .inner-service-contact .card-body .sub-btn { cursor: pointer; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); border-radius: 6px; outline: none; font-size: 18px; text-align: left; padding: 10px 30px 10px 30px; }
.inner-contact .card-body .sub-btn:hover, .recruitment-area .inner-contact-recruitment .card-body .sub-btn:hover, .recruitment-item .inner-contact-recruitment-item .card-body .sub-btn:hover, .service_area .inner-service-contact .card-body .sub-btn:hover { background: #24b151; }
.inner-contact .card-body .sub-btn i, .recruitment-area .inner-contact-recruitment .card-body .sub-btn i, .recruitment-item .inner-contact-recruitment-item .card-body .sub-btn i, .service_area .inner-service-contact .card-body .sub-btn i { padding-left: 10px; font-size: 25px; }
.inner-contact .form-group, .recruitment-area .inner-contact-recruitment .form-group, .recruitment-item .inner-contact-recruitment-item .form-group, .service_area .inner-service-contact .form-group { border-radius: 4px; border: 1px solid #1d1d1d; padding: 0 15px; }
.inner-contact .form-group i, .recruitment-area .inner-contact-recruitment .form-group i, .recruitment-item .inner-contact-recruitment-item .form-group i, .service_area .inner-service-contact .form-group i { margin-top: 18px; color: #0067b0; font-size: 13px; }
.inner-contact .form-group .form-control, .recruitment-area .inner-contact-recruitment .form-group .form-control, .recruitment-item .inner-contact-recruitment-item .form-group .form-control, .service_area .inner-service-contact .form-group .form-control { border: none; outline: none; box-shadow: none; padding: 15px 15px; background: transparent; }
.inner-contact:after, .recruitment-area .inner-contact-recruitment:after, .recruitment-item .inner-contact-recruitment-item:after, .service_area .inner-service-contact:after { background: url("../css/image/inner_contact_bg2.png") no-repeat center bottom transparent; background-size: 100% 65%; left: 0; right: 0; bottom: 0; height: 69px; }

/* ========================================================================== > recruitment item  //inner page ========================================================================== */
.recruitment-caption h2 { font-size: 28px; }
.recruitment-caption ul li { color: #ffffff; }
.recruitment-caption ul li:after { border: 1px solid #ffffff; }

header.inner-header .recruitment-caption h4 { margin-top: 0; padding-bottom: 0; color: #ffffff; font-size: 16px; font-weight: 300; line-height: 20px; }
header.inner-header .recruitment-caption h4 span { font-weight: 700; }

.recruitment-item .buton-class { padding-bottom: 40px; }
.recruitment-item .buton-class .job-btn { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); border-radius: 6px; outline: none; font-size: 18px; text-align: left; padding: 20px 85px; }
.recruitment-item .buton-class .job-btn:hover { background: #24b151; }
.recruitment-item .buton-class .job-btn i { padding-left: 10px; font-size: 25px; }
.recruitment-item .inner-contact-recruitment-item { margin-top: 20px; }
.recruitment-item .inner-contact-recruitment-item h2 { color: #ffffff; font-size: 31px; font-weight: 300; }
.recruitment-item .inner-contact-recruitment-item .card-body ul { margin-top: 0; }
.recruitment-item .inner-contact-recruitment-item .card-body ul li { color: #4a4a4a; font-size: 17px; font-weight: 300; position: relative; padding: 0 15px 15px; line-height: 23px; }
.recruitment-item .inner-contact-recruitment-item .card-body ul li:after { display: none; }
.recruitment-item .inner-contact-recruitment-item .card-body ul li:before { content: "\f105"; font-family: FontAwesome; padding-right: 20px; left: 0; top: 0; font-size: 20px; font-weight: 700; }
.recruitment-item .inner-contact-recruitment-item .card-body ul li:first-child { padding-left: 15px !important; }
.recruitment-item .inner-contact-recruitment-item .card-body ul li:last-child:after { display: none; }

.card-body .buton-class { text-align: center; }

/* ========================================================================== > inner service area // inner page ========================================================================== */
.service_area .inner-single-service .service-item .title-h2 { padding-top: 0; }
.service_area .inner-single-service .service-item .title-h2 h2 { font-size: 25px; }
.service_area .inner-single-service .service-item ul { margin-top: 20px; }
.service_area .inner-single-service .service-item ul li { font-size: 21px; color: #4a4a4a; font-weight: 300; position: relative; padding: 12px 50px; line-height: 23px; }
.service_area .inner-single-service .service-item ul li:before { content: "\f105"; font-family: FontAwesome; left: 0; top: 8px; font-weight: 700; padding: 2px 9px; border-radius: 50%; background: #da4167; color: #ffffff; font-size: 26px; }

/* ========================================================================== > footer area start ========================================================================== */
.footer { position: relative; display: block; background: url("../css/image/footer-bg2.png") no-repeat; background-color: #f6f6f6; background-size: 92% 130%; background-position: left bottom; }
.footer .footer-top { position: relative; display: block; padding-bottom: 50px; }
.footer .footer-top .padding-left { padding-left: 0; }
.footer .footer-top h4 { color: #5b5b5b; font-weight: 700; font-size: 23px; border-bottom: 1px solid #0b2e13; padding-bottom: 24px; }
.footer .footer-top ul { margin-top: 10px; }
.footer .footer-top ul p { color: #5b5b5b; max-width: 228px; font-size: 17px; }
.footer .footer-top ul span { color: #5b5b5b; font-weight: 900; }
.footer .footer-top ul li { color: #5b5b5b; font-size: 17px; font-weight: 300; line-height: 26px; }
.footer .footer-top ul li a { text-decoration: none; color: #5b5b5b; font-weight: 400; line-height: 30px; font-family: "Graphik Web", sans-serif; font-size: 17px; }
.footer .footer-top ul li span { color: #5b5b5b; font-weight: 900; }
.footer .footer-top address ul li { color: #5b5b5b; font-size: 17px; font-weight: 300; }
.footer .footer-bottom { position: relative; display: block; min-height: 50px; padding-top: 50px; color: #ffffff; }
.footer .footer-bottom:before { position: absolute; content: ""; left: 0; right: 0; top: -30px; width: 100%; border: 1px solid rgba(255, 255, 255, 0.35); }
.footer .footer-bottom .copy-right { text-align: center; }
.footer .footer-bottom .footer-content { margin: 0 auto; text-align: center; width: 45%; color: #ffffff; font-family: "Graphik Web", sans-serif; font-weight: 400; line-height: 23px; }

.service .single-service-wrap { padding-top: 50px; }
.service:before, .service:after { content: ''; display: table; }
.service:after { clear: both; }
.service .custom-border { margin: 0 auto; }
.service i { display: inline-block; }
.service .single-service { background: url("../css/image/rectangle-red.png") left top no-repeat, url("../css/image/rectangle-blue.png") right bottom no-repeat; padding: 62px 0 39px; background-size: 86%, 86%, auto; text-align: center; box-shadow: 0 0 10px rgba(0, 0, 0, 0.14); border-radius: 5px; }
.service .single-service .highlight { color: #5b5b5b; font-family: "Graphik Web", sans-serif; font-weight: 300; display: block; }
.service .single-service .single-heading { padding: 15px 10px 0; }
.service .single-service .single-heading h5 { font-size: 21px; color: #062f65; margin-bottom: 0; }

/* ========================================================================== > how-can-help ========================================================================== */
.how-can-help { background: #f7f7f7; }
.how-can-help .custom-border-help { margin-top: 20px; margin-bottom: 35px; background-color: #0b2e13; }
.how-can-help i { display: inline-block; }
.how-can-help .pragraph { color: #000000; font-size: 20px; font-weight: 300; width: 60%; margin: 0 auto; }
.how-can-help .single-icon { text-align: center; padding: 20px 5px; }
.how-can-help .single-icon i { display: inline-block; }
.how-can-help .single-icon h3 { color: #052f65; font-weight: 700; line-height: 30px; margin: 20px 0 10px 0; }
.how-can-help .single-icon p { color: #1d1d1d; font-size: 18px; font-weight: 200; }

/* ========================================================================== > claims-process ========================================================================== */
.claims-process { background: url("../css/image/cp-bg.png") fixed; background-size: cover; position: relative; padding: 0 0 100px; }
.claims-process:before, .claims-process:after { content: ''; display: table; }
.claims-process:after { clear: both; }
.claims-process .claims-process-inner { padding-top: 60px; margin-top: -15px; }
.claims-process .claims-process-inner .col-md-4 { padding-left: 7px; padding-right: 7px; margin-top: 15px; }
.claims-process .claims-process-inner .col-md-4:first-child { padding-left: 15px; }
.claims-process .claims-process-inner .col-md-4:last-child { padding-right: 15px; }
.claims-process h2 { color: #ffffff; }
.claims-process i { display: inline-block; }
.claims-process .single-model { background-color: #ffffff; border-radius: 10px; min-height: 150px; padding: 20px 26px 10px 22px; position: relative; display: block; }
.claims-process .single-model h5 { width: 208px; height: 30px; color: #062f65; font-size: 18px; font-weight: 400; }
.claims-process .single-model h5 strong { font-weight: 700; margin-right: 5px; }
.claims-process .single-model h4 { color: #7a7a7a; font-size: 16px; font-weight: 300; margin: 0; }
.claims-process .single-model:after { content: '\f054'; right: -25px; font-family: FontAwesome; top: 55px; width: 36px; height: 36px; line-height: 36px; background: #d93690; border-radius: 50%; text-align: center; color: #ffffff; z-index: 9998; }
.claims-process .col-md-4:nth-child(3) .single-model:after { display: none; }

/* ========================================================================== > video-section ========================================================================== */
.video-section { min-height: 500px; padding: 100px 5px; }
.video-section .left-section { max-width: 468px; }
.video-section .left-section h2 { color: #062f65; font-size: 48px; font-weight: 300; margin-bottom: 30px; }
.video-section .left-section p { text-align: left; color: #5b5b5b; font-size: 18px; font-weight: 400; line-height: 27px; }
.video-section .buton-class { padding: 12px 0; }

/* ========================================================================== > brand ========================================================================== */
.brand { background-color: #052f65; }
.brand .title-h2 h2 { color: #ffffff; font-weight: 300; }
.brand h3 { width: 227px; height: 81px; color: #ffffff; font-size: 32px; font-weight: 300; }
.brand .custom-border-brand { width: 30%; margin-top: 20px; margin-bottom: 35px; background-color: #d93690; }
.brand i { display: inline-block; }
.brand .tile-grand { min-height: 100px; line-height: 100px; text-align: center; }
.brand .title-h2 { text-align: left; }

/* ========================================================================== > Contact Us inner caption start   // inner page start ========================================================================== */
header.inner-header .inner-caption-contact h3 { font-size: 26px; margin-top: 12px; padding-bottom: 0; font-weight: 300; }
header.inner-header .inner-caption-contact h3 span { font-weight: 400; }

/* ========================================================================== > Contact Us start ========================================================================== */
.contact-us { margin-bottom: 30px; }
.contact-us .title-h2 { text-align: left; }
.contact-us .title-h2 h2 { color: #062f65; font-size: 36px; margin-bottom: 40px; }
.contact-us .inner-border { height: 2px; background-color: #052f65; margin-bottom: 14px; }
.contact-us i { display: inline-block; }
.contact-us .btn-submit { color: #ffffff; font-size: 19px; font-weight: 700; width: 163px; height: 45px; border-radius: 5px; background-color: #00cb81; float: right; outline: none; box-shadow: none; padding: 8px; }
.contact-us .btn-submit:hover { background: #24b151; }
.contact-us .address-div { margin-top: 18px; }
.contact-us .address-div .address-title { font-size: 18px; font-weight: 400; color: #134266; }
.contact-us .address-div h4 { font-size: 21px; font-weight: 700; color: #134266; }

.form-group { border-radius: 4px; border: 1px solid #1d1d1d; padding: 0 15px; }
.form-group i { margin-top: 22px; color: #0067b0 !important; font-size: 13px; }
.form-group .form-control { border: none; outline: none; box-shadow: none; padding: 15px 15px; background: transparent; }

/* ========================================================================== > Responsive ========================================================================== */
/* ==========================================================================
	#Media - Tablets in landscape
========================================================================== */
/* ==========================================================================
	#Phones
========================================================================== */

/*# sourceMappingURL=styles.css.map */
