@font-face {
  font-family: 'Helvetica';
  src: url('../css/fonts/webfont/Helvetica.eot?#iefix') format('embedded-opentype'), url('../css/fonts/webfont/Helvetica.otf') format('opentype'),
  url('../css/fonts/webfont/Helvetica.woff') format('woff'), url('../css/fonts/webfont/Helvetica.ttf') format('truetype'), url('../css/fonts/webfont/Helvetica.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Light';
  src: url('../css/fonts/webfont/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/webfont/Helvetica-Light.otf') format('opentype'),
  url('../css/fonts/webfont/Helvetica-Light.woff') format('woff'), url('../css/fonts/webfont/Helvetica-Light.ttf')
  format('truetype'), url('../css/fonts/webfont/Helvetica-Light.svg#Helvetica-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('../css/fonts/webfont/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/webfont/Graphik-Regular-Web.ttf') format('ttf'),
  url('../css/fonts/webfont/Graphik-Regular-Web.woff') format('woff'), url('../css/fonts/webfont/Graphik-Regular-Web.ttf') format('truetype'), url('../css/fonts/webfont/Graphik-Regular-Web.svg#Graphik-Regular-Web') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('../css/fonts/webfont/graphik-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/webfont/graphik-light-webfont.ttf') format('ttf'),
  url('../css/fonts/webfont/graphik-light-webfont.woff') format('woff'), url('../css/fonts/webfont/graphik-light-webfont.ttf') format('truetype'), url('../css/fonts/webfont/graphik-light-webfont.svg#graphik-light-webfont') format('svg');
  font-weight: 300;
  font-style: normal;
}


//stript image

img {
  max-width: 100%;
}
.light-font {
  font-weight: 300;
}
.bg-air {
  width: 68px; height: 74px;
  background: url('#{$assetPath}/css_sprites.png') -219px -10px;
}

.bg-angle_right {
  width: 36px; height: 36px;
  background: url('#{$assetPath}/css_sprites.png') -107px -213px;
}

.bg-car {
  width: 78px; height: 74px;
  background: url('#{$assetPath}/css_sprites.png') -10px -213px;
}

.bg-facebook {
  width: 82px; height: 82px;
  background: url('#{$assetPath}/css_sprites.png') -10px -111px;
}

.bg-home {
  width: 68px; height: 74px;
  background: url('#{$assetPath}/css_sprites.png') -115px -96px;
}

.bg-message {
  width: 85px; height: 82px;
  background: url('#{$assetPath}/css_sprites.png') -10px -10px;
}


.bg-monitor {
  width: 85px; height: 82px;
  background: url('#{$assetPath}/css_sprites.png') -115px -10px;
}

.bg-Teeth {
  width: 68px; height: 74px;
  background: url('#{$assetPath}/css_sprites.png') -219px -99px;
}

.border{
  width: 75px;
  height: 4px;
  background-color: $red;
  border: 1px solid transparent !important;
}
.custom-btn{
  background: $green;
  font-family: $font-graphic;
  color: $light-white;
  font-size: $font-22;
  padding: 10px 20px 10px 20px;
  border: solid $green 1px;
  text-decoration: none;
  display: inline-block;
  transition: all ease 500ms;
  &:hover{
    background-color: $green-hover;
  }
}

.after {
  position: absolute;
  content: " ";
  display: block;
  background: no-repeat center center transparent;
  background-size: cover;
}

@mixin clearfix {
  &:before,
  &:after{
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.padding-tb-100{
  padding: 100px 0;
}
.padding-tb-50{
  padding: 50px 0;
}
.padding-tb-15{
  padding: 15px 0 !important;
}

.padding-left-0{
  padding-left: 0;
}
.title-h2{
  text-align: center;
  //padding-top: 70px;
  h2 {
    margin-bottom: 15px;
  }
}
.padding-btom{
  padding: 50px 0;
}
.padding-top-20{
  padding-top: 20px;
}
.padding-bottom-20{
  padding-bottom: 20px;
}
.form-control {
  font-weight: $font-weight-300;
}
.video-btn {
  @extend .custom-btn;
  min-width: 233px;
  width: auto;
  height: auto;
  box-shadow: 0 2px 4px $box-shadow;
  border-radius: 6px;
  background-color: $green;
  padding: 17px 25px 17px 27px;
  text-align: left;
  cursor: pointer;
  .fa {
    display: inline-block;
    font: $fa;
    font-size: $font-30;
    font-weight: bold;
    float: right;
    margin-top: -5px;
    margin-left: 20px;
  }

  .video-btn:hover{
    background-color: $green-hover;
    }

}