/* ==========================================================================
   > Responsive
   ========================================================================== */

@media screen and (min-width: 992px) {
}
@media screen and (max-width: 991px) {

}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 767px) and (max-width: 991px) {
}

/* ==========================================================================
	#Media - Tablets in landscape
========================================================================== */
@media (max-width: 1024px) {

}

/* ==========================================================================
	#Phones
========================================================================== */

@media screen and (max-width: 767px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 375px) {

}