/* --------------------------------------------------------------------------
	>Base
-------------------------------------------------------------------------- */
html,
body {
  height: 100%;
}

html {
  overflow-y: scroll;
}
body {
  min-width: 100px;
  background: $light-white;
  font-family: $font-graphic;
  font-size: 14px;
  line-height: 1.3;
  color: #000;
}

a {
  cursor: pointer;
  color: $light-blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
ol {
  list-style-position: inside;
}

ul {
  li {
    list-style: none;
  }
}

h1 {
  font-family: $font-graphic;
  color: $light-white;
  font-size: $font-36;
  font-weight: $font-weight-300;
}
h2{
  color: $dark-black;
  font-family: $font-graphic;
  font-size: $font-36;
  font-weight:$font-weight-400;
}
h3{
  color: $light-white;
  font-family: $font-graphic;
  font-size:$font-24;
  font-weight: $font-weight-400;
}
h4{
  color: $light-white;
  font-family: $font-graphic;
  font-size: $font-18;
  font-weight:$font-weight-400;
}
h5{
  color: $dark-blue;
  font-family: $font-graphic;
  font-size: $font-18;
  font-weight:$font-weight-400;
}

.wrapper > div,
.wrapper > section{
  padding: 100px 0;
  &.header {
    padding: 0 0 20px;
  }
  &.loader {
    padding: 0;
  }
}

.wrapper > footer {
  padding: 35px 0 50px;
}

  /* ==========================================================================
    > Loader
    ========================================================================== */
.loader {
  height: 2px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: $light-white;
  &:before{
    display: block;
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $red-bg;
    animation-name: animate_width;
  }
  &.loading:before {
    animation-duration: 20s;
  }
  &.loaded:before {
    animation-duration: 2s;
  }
}

@keyframes animate_width {
  from {width: 0;}
  to {width: 100%;}
}

/* ==========================================================================
  > Header
  ========================================================================== */
header.header {
  position: relative;
  display: block;
  z-index: 1;
  background: url(../css/image/banner_bg.png) no-repeat center bottom $red-bg;
  background-size: cover;
  //padding-bottom: 20px;
  margin-bottom: 120px;
  &:after {
    @extend .after;
    background: url("#{$assetPath}/banner_bottom_bg.jpg") no-repeat center bottom $red-bg;
    background-size: 100% 100%;
    left: 0;
    right: 0;
    bottom: -119px;
    height: 120px;
    width: 100%;
  }
}
  .custom-nav {
    background: transparent !important;
    padding: 45px 0;
    .navbar-nav {
      .active > .nav-link,
      .nav-link:hover, .nav-link:active, .nav-link:focus {
        color: $light-white;
        background: url("#{$assetPath}/boder.png") repeat-x center bottom transparent;
      }
      .nav-item {
        padding: 0 25px;
      }
      .nav-link {
        color: $light-white;
        font-family: $font-graphic;
        font-size: $font-18;
        font-weight: $font-weight-400;
      }

    }
  }
  .custom-collapse {
    z-index: 1;
    margin-top: 30px;
  }

  /* ==========================================================================
    > header bottom start
    ========================================================================== */
 .caption {
    text-align: center;
    padding: 50px 0;
    h1 {
      line-height: 40px;
    }
    h4 {
      font-size: $font-22;
      margin-top: 50px;
      padding-bottom: 60px;
      font-weight: $font-weight-300;
    }
    h3 {
      margin-top: 50px;
      padding-bottom: 10px;
    }
    .input-group {
      width: 30%;
      margin: 0 auto;
      input {
        font-family: $font-graphic;
        border-radius: 5px;
        padding: 10px 0 10px 18px;
        font-size: $font-20;
      }
      button {
        width: 50px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: none;
        background: $green;
        outline: none;
        cursor: pointer;
        i {
          font-size: $font-36;
          color: $light-white;
        }
        &:hover{
          background: $green-hover;
        }
      }

    }
  }

  /* ==========================================================================
    > testimonial
    ========================================================================== */

  .testimonial-area {
    background: $dark-white;
    overflow: hidden;
    h2 {
      font-weight: $font-weight-300;
    }
    .custom-border-help {
      @extend .border;
      background-color: #0b2e13;
    }
    i {
      display: inline-block;
    }
    .title-h2 {
      padding-top: 0;
    }

    .single-testimonial {

      .testimonial {
        position: relative;
        padding: 15px 5px;
        box-sizing: border-box;
        background: $light-white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
        margin-bottom: 25px;
        min-height: 215px;
        ul {
          margin: 0;
          li {
            list-style: none;
            float: left;
            margin-left: 5px;
            i {
              color: $yellow;
              font-size: $font-22;
            }
          }
        }

        .content {
          position: relative;
          display: block;
          width: 95%;
          padding: 15px 25px 20px;
        }

        &:before {
          @extend .after;
          background: url("#{$assetPath}/google-bg.png") no-repeat;
          right: 20px;
          height: 34px;
          width: 34px;
          bottom: 20px;
        }

        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          margin-left: -0.5em;
          bottom: -2em;
          left: 12%;
          box-sizing: border-box;
          border: 1em solid rgba(0, 0, 0, 0.11);
          border-color: transparent transparent $light-white $light-white;
          transform-origin: 0 0;
          transform: rotate(-45deg);
          box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.11);
        }
      }

      img {
        padding: 0 25px;
      }

      .info {
        h3 {
          color: $blue;
          font-size: $font-20;
          font-weight: $font-weight-400;
        }
        p {

          color: $light-shadow;
          font-weight: $font-weight-300;
        }
      }
    }

    .slider {
      max-width: 100%;
      overflow: hidden;
      margin: 50px auto;
    }
    .slick-slide {
      margin: 0 8px;
      outline: none;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
      display: none;
    }

    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: 1;
    }

    .slick-active {
      opacity: 1;
    }

    .slick-current {
      opacity: 1;
    }

  }

  /* ==========================================================================
    > Inner header    // inner page start
    ========================================================================== */

header.inner-header{
  position: relative;
  display: block;
  z-index: 1;
  background: url("#{$assetPath}/inner_header_bg.png") no-repeat center top transparent;
  background-size: 100% 100%;
  margin-bottom: 0;
  min-height: 450px;
  &:after{
    background: none;
  }
  .inner-caption{
    @extend .caption;
    text-align: left;
    color: $light-white;
    h2{
      color: $light-white;
      font-size: $font-36;
      font-weight: $font-weight-300;
    }
    p{
      padding-top: 15px;
      max-width: 850px;
      font-size: $font-16;
      font-weight: $font-weight-300;
      line-height:$line-height-23;
    }
  }

  .inner-caption-contact{
    p{
      max-width: 590px;
    }
  }

}

/* ==========================================================================
  > about us // inner page
  ========================================================================== */
.single-about{
  h5{
    font-family: "FS Albert Pro",sans-serif;
    font-weight: $font-weight-700;
    color: $gray;
  }
  p{
    color: $light-gray;
    line-height: 20px;
    font-weight: 200;
    padding-top: 15px;
  }
}
.about-us{
  .title-h2{
    text-align: left;
  h2{
    color: $gray;
    font-size: $font-36+1;
  }
  }
  .inner-border{
    @extend .border;
    height: 2px;
    background-color: $dark-blue;
  }
  i {
    display: inline-block;
  }

 @extend .single-about;
}

/* ==========================================================================
  > recruitment  // inner page
  ========================================================================== */
.recruitment-block{
  padding-bottom: 20px;
  h2{
    color: $nave-blue;
    font-size: $font-28;
    font-weight: $font-weight-400;
  }
  h4{
    padding-top: 25px;
    color: $light-shadow;
    font-size: $font-16+1;
    line-height: 20px;
    font-weight: $font-weight-300;
    span{
      font-weight: $font-weight-700;
    }
  }
  ul{
    li{
      color: $light-shadow;
      font-size: $font-16+1;
      font-weight: $font-weight-700;
      line-height: 20px;
      float: left;
      position: relative;
      padding: 0 10px;
      &:after{
        @extend .after;
        height: 20px;
        border: 1px solid $light-shadow;
        right: 0;
        top: 0;
      }
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        &:after{
          border: none;
        }
      }
    }
  }
  .content{
    padding-top: 15px;
    max-width: 629px;
      p {
        span {
          font-weight: $font-weight-700 !important;
        }
        color: $light-shadow;
        font-size: $font-16;
        font-weight: $font-weight-300;
        line-height:$line-height-23;
      }
    h3{
      padding-top: 25px;
      color: $light-shadow;

      line-height: 20px;
      font-weight: $font-weight-300;
    }
    ul{
      margin-top: 25px;
      padding-left: 28px;
      li{
        list-style: disc;
        color: $light-shadow;
        font-size: $font-16+1;
        font-weight: $font-weight-300;
        position: relative;
        line-height:$line-height-23;
        padding: 0 10px 25px 0;
        &:after{
          @extend .after;
         display: none;
        }
        &:first-child{
          padding-left: 00px;
        }
        &:last-child{
          &:after{
            display: none;
          }
        }
      }
    }

  }

  .buton-class{
    .learn-btn{
      @extend .custom-btn;
      color: $dark-blue;
      font-size: $font-18;
      font-weight: 500;
      border-radius: 5px;
      border: 1px solid $dark-blue;
      background-color: $light-white;
      &:hover{
        background: $btn-hover;
        border: solid $dark-blue 1px;
      }
    }
    .apply-btn{
      @extend .custom-btn;
      font-size: $font-18;
      border-radius: 5px;
      margin-left: 10px;
      &:hover{
        background: $green-hover;
      }
    }
  }
  .inner-border{
    @extend .border;
    margin-top: 40px;
    display: inline-block;
    width: 100%;
    height: 1px;
    background: $light-gray;
    opacity: 0.3;
  }
}
.inner-contact{
  //background: url("#{$assetPath}/inner_contact_bg.png") no-repeat;
  //padding: 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  position: relative;
  h3{
    font-size:$font-30+1;
    font-weight: $font-weight-300;
  }
  .service-contact-head {
    position: relative;
    padding: 20px 30px 35px;
    background: $red-bg;
    h3 {
      margin: 0;
      position: relative;
      z-index: 5;
    }
    &:after {
      @extend .after;
      background: url("#{$assetPath}/inner_contact_bg.jpg") no-repeat left bottom transparent;
      background-size: 100% auto;
      width: 100%;
      height: 100px;
      z-index: 0;
      left: 0;
      bottom: -1px;
    }
  }
  .card-body{
    margin: 30px 20px 60px;
    .sub-btn{
      @extend .custom-btn;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 6px;
      outline: none;
      font-size: 18px;
      text-align: left;
      padding: 10px 30px 10px 30px;
      &:hover{
        background: $green-hover;
      }
      i{
        padding-left: 10px;
        font-size: 25px;
      }
    }
  }
  .form-group{
    border-radius: 4px;
    border: 1px solid $dark-gray;
    padding: 0 15px;
    i{
      margin-top: 18px;
      color: $light-blue;
      font-size: 13px;
    }
    .form-control{
      border: none;
      outline: none;
      box-shadow: none;
      padding: 15px 15px;
      background: transparent;
    }
  }
  &:after{
    @extend .after;
    background: url("#{$assetPath}/inner_contact_bg2.png") no-repeat center bottom transparent;
    background-size: 100% 65%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 69px;
  }
}

.recruitment-area{
@extend .recruitment-block;
  .inner-contact-recruitment{
    @extend .inner-contact;
  }
}

/* ==========================================================================
  > recruitment item  //inner page
  ========================================================================== */
.recruitment-caption{
  @extend .recruitment-block;
  h2{
    font-size: $font-28 ;
  }
  ul{
    li{
      color: $light-white;
      &:after{
        @extend .after;
        border: 1px solid $light-white;
      }
    }
  }
}
header.inner-header .recruitment-caption h4 {
  margin-top: 0;
  padding-bottom: 0 ;
  color: $light-white ;
  font-size:$font-16;
  font-weight: $font-weight-300;
  line-height: 20px;
  span {
    font-weight: $font-weight-700;
  }
}
.recruitment-item {
  @extend .recruitment-block;
  .buton-class {
    padding-bottom: 40px;
    .job-btn {
      @extend .custom-btn;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 6px;
      outline: none;
      font-size: 18px;
      text-align: left;
      padding: 20px 85px;
      &:hover {
        background: $green-hover;
      }
      i {
        padding-left: 10px;
        font-size: 25px;
      }
    }
  }
  .inner-contact-recruitment-item{
    @extend .inner-contact;
    margin-top: 20px;
    h2{
      color: $light-white;
      font-size:$font-30+1;
      font-weight: $font-weight-300;
    }
    .card-body{
      ul{
        margin-top: 0;
        li{
          color: $light-shadow;
          font-size: $font-16+1;
          font-weight: $font-weight-300;
          position: relative;
          padding: 0 15px 15px;
          line-height:$line-height-23;

          &:after{
            @extend .after;
            display: none;
          }
          &:before{
            @extend .after;
            content: "\f105";
            font-family: FontAwesome;
            padding-right: 20px;
            left: 0;
            top: 0;
            font-size: $font-20;
            font-weight: $font-weight-700;
          }

          &:first-child{
            padding-left: 15px !important;
          }
          &:last-child{
            &:after{
              display: none;
            }
          }
        }
      }
    }
  }
}

.card-body .buton-class{
  text-align: center;
}

/* ==========================================================================
  > inner service area // inner page
  ========================================================================== */
.service_area{
  @extend .about-us;
  .inner-single-service{
    @extend  .single-about;
    .service-item{
      .title-h2{
        padding-top: 0;
        h2{
          font-size: $font-24+1;
        }
      }
      ul{
        margin-top: 20px;
        li{
          font-size: $font-20+1;
          color: $light-shadow;
          font-weight: $font-weight-300;
          position: relative;
          padding: 12px 50px;
          line-height:$line-height-23;
          &:before{
            @extend .after;
            content: "\f105";
            font-family: FontAwesome;
            left: 0;
            top: 8px;
            font-weight:$font-weight-700;
            padding: 2px 9px;
            border-radius: 50%;
            background: $dark-orange;
            color: $light-white;
            font-size: $font-24+2;
          }
        }
      }
    }
  }
  .inner-service-contact{
    @extend .inner-contact;
  }
}

  /* ==========================================================================
    > footer area start
    ========================================================================== */
  .footer {
    position: relative;
    display: block;
    background: url("#{$assetPath}/footer-bg2.png") no-repeat;
    background-color:  #f6f6f6;
    background-size: 92% 130%;
    background-position: left bottom;
    .footer-top {
      position: relative;
      display: block;
      padding-bottom: 50px;
      .padding-left {
        padding-left: 0;
      }

      h4 {
        color: $gray;
        font-weight: $font-weight-700;
        font-size: $font-22+1;
        border-bottom: 1px solid #0b2e13;
        padding-bottom: 24px;
      }
      ul {
        margin-top: 10px;
        p {
          color: $gray;
          max-width: 228px;
          font-size: $font-16+1;
        }
        span {
          color: $gray;
          font-weight: $font-weight-900;
        }
        li {
          color: $gray;
          font-size: $font-16+1;
          font-weight: $font-weight-300;
          line-height: $line-height-23+3;
          a {
            text-decoration: none;
            color: $gray;
            font-weight: $font-weight-400;
            line-height: $line-height-30;
            font-family: $font-graphic;
            font-size: $font-16+1;
          }

          span {
            color: $gray;
            font-weight: $font-weight-900;
          }
        }

      }
      address {
        ul {
          li {
            color: $gray;
            font-size: $font-16+1;
            font-weight: $font-weight-300;
          }
        }
      }
    }
    .footer-bottom {
      position: relative;
      display: block;
      min-height: 50px;
      padding-top: 50px;
      color: $light-white;
      &:before {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: -30px;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.35);
      }
      .copy-right {
        text-align: center;

      }
      .footer-content {
        margin: 0 auto;
        text-align: center;
        width: 45%;
        color: $light-white;
        font-family: $font-graphic;
        font-weight: $font-weight-400;
        line-height: $line-height-23;
      }
    }
  }

.service {
  .single-service-wrap {
    padding-top: 50px;
  }

  @include clearfix;
  .custom-border {
    @extend .border;
    margin: 0 auto;
  }
  i {
    display: inline-block;
  }
  .single-service {
    background: url('#{$assetPath}/rectangle-red.png') left top no-repeat, url('#{$assetPath}/rectangle-blue.png') right bottom no-repeat;
    padding: 62px 0 39px;
    background-size: 86%, 86%, auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    border-radius: 5px;

    .highlight {
      color: $gray;
      font-family: $font-graphic;
      font-weight: 300;
      display: block;
    }
    .single-heading {
      padding: 15px 10px 0;
      h5{
        font-size: $font-20+1;
        color: $blue;
        margin-bottom: 0;
      }
    }

  }

}

/* ==========================================================================
  > how-can-help
  ========================================================================== */

.how-can-help {
  background: $dark-bg;

  .custom-border-help {
    @extend .border;
    margin-top: 20px;
    margin-bottom: 35px;
    background-color: #0b2e13;
  }
  i {
    display: inline-block;
  }
  .pragraph {
    color: $dark-black;
    font-size: 20px;
    font-weight: 300;
    width: 60%;
    margin:0 auto;
  }

  .single-icon {
    text-align: center;
    padding: 20px 5px;

    i {
      display: inline-block;
    }
    h3 {
      color: $dark-blue;
      font-weight: $font-weight-700;
      line-height: 30px;
      margin: 20px 0 10px 0;
    }
    p {
      color: $dark-gray;
      font-size: $font-18;
      font-weight: 200
    }

  }

}

/* ==========================================================================
  > claims-process
  ========================================================================== */
.claims-process {
  @include clearfix;
  background: url('#{$assetPath}/cp-bg.png') fixed;
  //min-height: 600px;
  background-size: cover;
  position: relative;
  padding: 0 0 100px;
  .custom-border-help {
    @extend .border;
  }
  .claims-process-inner {
    padding-top: 60px;
    margin-top: -15px;
    .col-md-4 {
      padding-left: 7px;
      padding-right: 7px;
      margin-top: 15px;
      &:first-child {
        padding-left: 15px;
      }
      &:last-child {
        padding-right: 15px;
      }
    }
  }
  h2 {
    color: $light-white;
  }
  i {
    display: inline-block;
  }
  .single-model {
    background-color: $light-white;
    border-radius: 10px;
    min-height: 150px;
    padding: 20px 26px 10px 22px;
    position: relative;
    display: block;
    h5 {
      width: 208px;
      height: 30px;
      color: $blue;
      font-size: 18px;
      font-weight: $font-weight-400;
      strong{
        font-weight: $font-weight-700;
        margin-right: 5px;
      }
    }
    h4 {
      color: $soft-gray;
      font-size: 16px;
      font-weight: 300;
      margin: 0;
    }
    &:after {
      @extend .after;
      content: '\f054';
      right: -25px;
      font-family: FontAwesome;
      top: 55px;
      width: 36px;
      height: 36px;
      line-height: 36px;
      background: $red;
      border-radius: 50%;
      text-align: center;
      color: $light-white;
      z-index: 9998;
    }
  }
  .col-md-4:nth-child(3) {
    .single-model {
      &:after {
        display: none;
      }
    }
  }

}

/* ==========================================================================
  > video-section
  ========================================================================== */
.video-section {
  min-height: 500px;
  padding: 100px 5px;


  .left-section {
    max-width: 468px;
    h2 {
      color: $blue;
      font-size: 48px;
      font-weight: 300;
      margin-bottom: 30px;
    }
    p {
      text-align: left;
      color: #5b5b5b;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
    }

  }

  .buton-class {
    padding: 12px 0;
  }
}

/* ==========================================================================
  > brand
  ========================================================================== */
.brand{
  background-color: $dark-blue;
  .title-h2 {
    h2 {
      color: $light-white;
      font-weight: $font-weight-300;
    }
  }

  h3{
    width: 227px;
    height: 81px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 300;
  }

  .custom-border-brand {
    @extend .border;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 35px;
    background-color: $red;
  }
  i {
    display: inline-block;
  }

  .tile-grand{
    min-height: 100px;
    line-height: 100px;
    text-align: center;
  }
  .title-h2 {
    text-align: left;
  }
}

/* ==========================================================================
    > Contact Us inner caption start   // inner page start
    ========================================================================== */
header.inner-header {
  .inner-caption-contact {
    h3 {
      font-size: $font-24+2;
      margin-top: 12px;
      padding-bottom: 0;
      font-weight: $font-weight-300;
      span {
        font-weight: $font-weight-400;
      }
    }
  }
}

/* ==========================================================================
    > Contact Us start
    ========================================================================== */
.contact-us {
  margin-bottom: 30px;
  .title-h2{
    text-align: left;
    h2{
      color: $blue;
      font-size: $font-36;
      margin-bottom: 40px;
    }
  }
  .inner-border{
    @extend .border;
    height: 2px;
    background-color: $dark-blue;
    margin-bottom: 14px;
  }
  i {
    display: inline-block;
  }

  .btn-submit{
    @extend .custom-btn;
    color: $light-white;
    font-size: $font-18+1;
    font-weight: $font-weight-700;
    width: 163px;
    height: 45px;
    border-radius: 5px;
    background-color: $green;
    float: right;
    outline: none;
    box-shadow: none;
    padding: 8px;
    &:hover{
      background: $green-hover;
    }
  }
  .address-div {
    margin-top: 18px;
    .address-title {
      font-size: $font-18;
      font-weight: $font-weight-400;
      color: $nave-blue;
    }
    h4 {
      font-size: $font-20+1;
      font-weight:$font-weight-700;
      color: $nave-blue;
    }
  }

}
.form-group{
  border-radius: 4px;
  border: 1px solid $dark-gray;
  padding: 0 15px;
  i{
    margin-top: 22px;
    color: $light-blue !important;
    font-size: 13px;
  }
  .form-control{
    border: none;
    outline: none;
    box-shadow: none;
    padding: 15px 15px;
    background: transparent;
  }
}



